.head
  %h1 My Projects
  =link_to 'New project', new_project_path, :class => 'btn primary create_project'
%br
%hr

.projects
  - if @projects.present?
    - @projects.each do |project|
      .project
        %span.controls
          = link_to new_project_page_path(project), :title => "Add pages" do
            = image_tag 'page.png', :size => "20x20"
          = link_to edit_project_path(project), :title => "Edit project" do
            = image_tag 'pencil.png', :size => "20x20"
          = link_to project, :method => 'delete', :confirm => 'This project will be deleted permanently. Do you wish to continue?', :title => "Delete project" do
            = image_tag 'trash.png', :size => "20x20"
        %h2= link_to project.name, "/projects/#{project.id}", :class => 'project_name'
      %hr
      %br 
