- content_for :scripts do
  :javascript
    $(document).ready(function(){
      $(".view_page").click(function(){
        $("#page-"+ $(this).attr('id')).toggle("fast");
        return false;
      });
    });

.project_details
  %span.controls
    = link_to "Add page(s)", new_project_page_path(@project), :class => "btn"
    = link_to "Edit", edit_project_path(@project), :class => "btn"
    = link_to "Delete", @project, :method => 'delete', :confirm => 'This project will be deleted permanently. Do you wish to continue?', :class => "btn"
  %h1= @project.name
  %hr
  %p.description
    = @project.description

.pages
  - if @pages.present?
    = link_to "Add page", new_project_page_path(@project), :class => "btn add_page"
    %h2 Pages
    %hr
    - @pages.each do |page|
      .controls
        = link_to edit_project_page_path(@project, page), :title => "Edit page" do
          = image_tag 'pencil.png', :size => "15x15"
        = link_to [@project, page], :method => 'delete', :confirm => "This page will be deleted permanently. Do you wish to continue?", :title => "Delete page" do
          = image_tag 'trash.png', :size => "15x15"
      .page
        %h3= link_to page.title, "#", :id => page.id, :class => "view_page"
        .content_frame{:id => "page-#{page.id}"}
          %iframe{:src=>project_page_url(@project, page), :name=>"#{page.title}", :style=>"width: 600px; height: 250px; display: block"}
          %br
          .clearfix
            = label_tag "Embed Code"
            .input
              = text_area_tag "page_url", build_iframe_code(@project, page), :readonly=>true, :class => "xlarge" 
